<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-header text-center">
          <h3>Welcome to Our LIBRARY</h3>
        </div>
        <div class="card-background"></div> <!-- New background layer -->
        <div class="card-body">
          <p>Welcome to the home page of our library. You can log in or register.</p>
          <div class="text-center">
            <a routerLink="/login" class="btn btn-primary">Go to Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
